<script>

  function populateSelect( select, data ) {
    for( key in data ) {
      $( select ).append('<option value="' + data[ key ]  + '">' + key+ '</option>');
    };
  };

  // These are the default options:

  defaultNumberOfPages = [ 1, 3 ];
  contentFixedPrice = 20;

  // Selects

  design = { 'Based on a template': 9.0,
             'From scratch unique to my business': 15.0, 
             'Professional design': 20.0 };

  logo = { 'I have my own logo': 0.0,
              'Design simple logo for me': 35.0,
              'Design professional logo for me': 100.0  };

  pages = { '1-3 Pages': [1, 3],
            '4-7 Pages': [4, 7],
            '8-12 Pages': [8, 12],
            '13+ Pages': [13] };

  images = { 'I will supply images': 0.0,
             'Supply free stock images for my website': 10.0,
             'Supply professional images unique to my business': 20.0 };

  content = { 'I will supply content': 5.0,
              'Write professional content for me': 0.0 };

  // Checkboxes

  all_features = {
               'Credit Card Payments': 150.0,
               'Blog': 100.0,
               'Forum': 250.0,
               'Newsletter': 90.0,
               'Gallery/Portfolio': 50.0,
               'Review/Testimonial': 40.0,
               'Facebook': 10.0,
               'Twitter': 10.0,
               'Google+': 10.0,
               'Pinterest': 10.0,
               'Social sharing button': 15.0,
               'Image slider': 20.0,
               'Dropdown menu': 30.0,
               'Hover link/button/box effects': 5.0,
               'Video': 10.0,
               'Interactive map': 10.0
  };
  

  $( document ).ready( function() {

    selects = [ 'design', 'logo', 'pages', 'images', 'content' ];

    for( index in selects ) {
      populateSelect( '#website_' + selects[index] , eval(selects[index]) )
    };

    function computePrices() {

      window.totalPrice = [0.0, 0.0];

      totalPrice[0] = parseInt( $('#website_design').val() ) * numberOfPages[0];
      totalPrice[0] += parseInt( $('#website_logo').val() );
      totalPrice[0] += numberOfPages[0] * contentFixedPrice;
      totalPrice[0] += parseInt( $('#website_images').val() ) * numberOfPages[0];
      totalPrice[0] += parseInt( $('#website_content').val() ) * numberOfPages[0];

      totalPrice[1] = parseInt( $('#website_design').val() ) * numberOfPages[1];
      totalPrice[1] += parseInt( $('#website_logo').val() );
      totalPrice[1] += numberOfPages[1] * contentFixedPrice;
      totalPrice[1] += parseInt( $('#website_images').val() ) * numberOfPages[1];
      totalPrice[1] += parseInt( $('#website_content').val() ) * numberOfPages[1];

      $('input[type=checkbox]:checked').each( function( index, element ) {

        var price = all_features[ $(element).val() ];

        if( typeof(price) != 'undefined' ) {
          console.log( $(element).attr('class') );
          if( $(element).val() == 'Hover link/button/box effects' ) {
            totalPrice[0] += price * numberOfPages[0];
            totalPrice[1] += price * numberOfPages[1];
          } else {
            totalPrice[0] += price;
            totalPrice[1] += price;
          };
        };

      });

      if( totalPrice[1] ) {
        $('#price').text( '£' + totalPrice[0] + " / " + '£' + totalPrice[1] );
      } else {
        $('#price').text( "< £" + totalPrice[0] );

      };

    };

    $('input').on( 'change', function( e ) {
      window.numberOfPages = JSON.parse( "[" + $('#website_pages').val() + "]" );
      computePrices();
    });

    $('select').on( 'change', function( e ) {
      window.numberOfPages = JSON.parse( "[" + $('#website_pages').val() + "]" );
      computePrices();
    });

    window.numberOfPages = defaultNumberOfPages;
    computePrices();
  });

</script>

<%= simple_form_for(@website) do |f| %>
  <%= f.error_notification %>

<label><h1><small>Design</small></h1>
</label>
    <%= f.input :design, :collection => [], :selected => [0], label: false %>

    <%= f.input :logo, :collection => [], :selected => [0], label: false %>
<hr />
<label><h1><small>Content</small></h1>
</label>
    <%= f.input :pages, :collection => [], :selected => [0], label: false %>
    <%= f.input :images, :collection => [], :selected => [0], label: false %>
    <%= f.input :content, :collection => [], :selected => [0], label: false %>
<hr />
<label><h1><small>Features</small></h1>
</label>

    <%= f.input :features, as: :check_boxes, collection: [['Credit Card Payments', 'Credit Card Payments'], ['Blog', 'Blog'], ['Forum', 'Forum'], ['Newsletter', 'Newsletter'], ['Image gallery, Portfolio', 'Gallery/Portfolio'], ['Customer Review/Testimonials', 'Review/Testimonial']], label: false %>

<i><p class="muted">More features available on request</p></i>
<label><h1><small>Social Media</small></h1>
</label>

     <%= f.input :socialmedia, as: :check_boxes, collection: [['Facebook', 'Facebook'], ['Twitter', 'Twitter'], ['Google+', 'Google+'], ['Pinterest', 'Pinterest'], ['Social sharing button', 'Social sharing button']], label: false %>
     <i><p class="muted">More social media available on request</p></i>

     <label><h1><small>Effects</small></h1>
</label>

     <%= f.input :effects, as: :check_boxes, collection: [['Image slider', 'Image slider'], ['Dropdown menu', 'Dropdown menu'], ['Hover link/button/box effects', 'Hover link/button/box effects'], ['Video', 'Video'], ['Interactive map', 'Interactive map']], label: false %>

<i><p class="muted">More effects available on request</p></i>
 <%= f.input :email, label: 'Please enter your email', :required => true %>
 <%= f.input :phone_number, label: 'Please enter your phone number', :required => true %>
 <%= f.input :additional_notes, label: 'Any additional notes to help us', :required => true, :input_html => {style: 'width:350px;', rows: 10} %>
 <p>You will shortly receive your quote via email. Thank you!</p>

  <div class="form-actions">
  <span class="pull-right"><button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success">Get Quote</button></span>
    
  </div>
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Website Order</h3>
  </div>
  <div class="modal-body">
     <div class="span3 pull-right"><img src="images/logo1.png"></div>
    <p><strong>Is your order complete?</strong></p>
    <small>
    <p>Click "<strong>Continue</strong>" to get your quote sent to you.<br />
    If you wish to add something to your order, click "Close"</p></small>

    <hr />

    <strong>You will shortly receive an email with quote for your custom website</strong>



    
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" aria-hidden="true" class="btn btn-danger">Close</button>
    <%= f.button :submit, class: 'btn btn-success', value: 'Continue' %>
  </div>
</div>
    <% end %> 


