<%= simple_form_for(@website) do |f| %>
  <%= f.error_notification %>

<label><h1><small>Design</small></h1>
</label>
    <%= f.input :design, :collection => ['Based on a template', 'From scratch unique to my business', 'Professional design'], :selected => [0], label: false %>

    <%= f.input :logo, :collection => ['I have my own logo', 'Design simple logo for me', 'Design professional logo for me'], :selected => [0], label: false %>
<hr />
<label><h1><small>Content</small></h1>
</label>
    <%= f.input :pages, :collection => ['1-3 Pages', '4-7 Pages', '8-12 Pages', '13+ Pages'], :selected => [0], label: false %>
    <%= f.input :images, :collection => ['I will supply images', 'Supply free stock images for my website', 'Supply professional images unique to my business'], :selected => [0], label: false %>
    <%= f.input :content, :collection => ['I will supply content', 'Write professional content for me'], :selected => [0], label: false %>
<hr />
<label><h1><small>Features</small></h1>
</label>

    <%= f.input :features, as: :check_boxes, collection: [['Credit Card Payments', 'Credit Card Payments'], ['Blog', 'Blog'], ['Forum', 'Forum'], ['Newsletter', 'Newsletter'], ['Image gallery, Portfolio', 'Gallery/Portfolio'], ['Customer Review/Testimonials', 'Review/Testimonial']], label: false %>

<i><p class="muted">More features available on request</p></i>
<label><h1><small>Social Media</small></h1>
</label>

     <%= f.input :socialmedia, as: :check_boxes, collection: [['Facebook', 'Facebook'], ['Twitter', 'Twitter'], ['Google+', 'Google+'], ['Pinterest', 'Pinterest'], ['Social sharing button', 'Social sharing button']], label: false %>
     <i><p class="muted">More social media available on request</p></i>

     <label><h1><small>Effects</small></h1>
</label>

     <%= f.input :effects, as: :check_boxes, collection: [['Image slider', 'Image slider'], ['Dropdown menu', 'Dropdown menu'], ['Hover link/button/box effects', 'Hover link/button/box effects'], ['Video', 'Video'], ['Interactive map', 'Intractive map']], label: false %>

<i><p class="muted">More effects available on request</p></i>
 <%= f.input :email, label: 'Please enter your email', :required => true %>
 <%= f.input :phone_number, label: 'Please enter your phone number', :required => true %>
 <p>You will shortly receive your quote via email. Thank you!</p>

  <div class="form-actions">
  <span class="pull-right"><button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success">Place Order</button></span>
    
  </div>
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Website Order</h3>
  </div>
  <div class="modal-body">
     <div class="span3 pull-right"><img src="images/logo1.png"></div>
    <p><strong>Is your order complete?</strong></p>
    <small>
    <p>Click "<strong>Continue</strong>" to place your order<br />
    If you wish to add something to your order, click "Close"</p></small>

    <hr />

    <strong>You will shortly receive an email with quote for your custom website</strong>



    
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" aria-hidden="true" class="btn btn-danger">Close</button>
    <%= f.button :submit, class: 'btn btn-success', value: 'Continue' %>
  </div>
</div>
    <% end %> 


