<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>
<h3>Work On Existing Website</h3>

<hr />

<p>
Need somebody to work on your website?


<h4>Ruby on Rails came to me</h4>
<p>
My greatest discovery was a programming language called "Ruby". 
Ruby is an interpreted programming language allowing to write complicated code fast and easy, the fact that I already learned some PHP and JavaScript made it so simple to understand it!<br />
As I was speaking about the frameworks just above this paragraph, Ruby has a default framework that comes with the installation called Rails - "Ruby on Rails", Rails gave me a huge amount of options to show off! All the advanced stuff I've been learning through last years became so simple and easy! The code that would take me few days to write now with "RoR" takes moments.</p>
<p>
I still haven't discovered all the power of Ruby on Rails, but one I know for sure. I will what it takes to become an expert, having an opportunity to work on a large scale websites would be the point in my life when I can say - I've succeeded father. You can now be proud of me.</p>

<p>Please help me to pursue my dream and share this website</p>

</p>
 <br /><br />
<h4>Few of websites using Ruby on Rails</h4>
<hr />
<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/basecamp.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/twitter.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/shopify.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/github.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/justintv.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/jango.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/guitarhero.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
    <%= image_tag '/images/about/yellowpages.png', :'data-src' => 'holder.js/300x200' %>
 
    </a>
  </li>
</ul>


</div>

</div>
</div>

