
<div class="home-container">
<div class="row-fluid">

<div class="span12 white padding-20">
<%= render 'layouts/breadcrumb' %>

<% @blogs.each do |blog| %>
<hr />
  <span class="pull-right blue">Posted: <%= time_ago_in_words(blog.created_at) %> ago</span>
    <h4><%= link_to blog.title.gsub('-', ' '), "/blogs/#{blog.title}", id: blog.id %></h4>
    <p class="muted">Category: <%= blog.category %></p>
    <p><%= truncate blog.description, length: 200 %></p>

    <%= link_to 'Read', :controller => 'blogs', :action => 'show', :id => blog %>
<hr />
  
<% end %>

</div>

</div>
</div>