<div class="home-container">
<div class="row-fluid white rounded-box">
<div class="span12 padding-20">
<span class="pull-left">
<h5>Add Your Website</h5></span><span class="pull-right"><%= link_to 'Back', dashboard_path %></span>
<br />  
<hr />


<p>Add link to your website so it's easier for us to understand your needs.</p>


<%= simple_form_for @usersite, :url => createaddwebsite_path(@usersite) do |f| %>
  <%= f.error_notification %>
<div class="input-prepend">
  <span class="add-on">www.</span>
   <%= f.input :website_link, class: "prependedInput input-xxlarge", label: false, placeholder: 'yourwebsite.co.uk'%>
</div>
   



  <span class="pull-right"><%= button_to 'Add Website',nil,  class: 'button-link-green' %></span>

<% end %>


</div>
</div>
</div>

