<div class="home-container">
<div class="row-fluid padding-20 white rounded-box">
<div class="span12">

<h5>Reply To: <span class="muted"><%= @user.name %></span></h5>

<%= simple_form_for [:admin, @message] do |message| %>

<%= message.input :subject, :input_html => {value: 'Re: '} %>
<%= message.input :description, :input_html => {style: 'width:80%;', rows: 10} %>
<%= message.submit %>

<% end %>

</div></div></div>