<div class="home-container">
<div class="row-fluid rounded-box white">
<div class="span12">
<%= render 'layouts/breadcrumb' %>
<div class="row-fluid">
<div class="span12 padding-20">


<% if current_user && current_user.admin? %>
<div class="pull-right" style="padding-right:20px;">
<%= link_to 'New Project', new_freeby_path, class: 'button-link-green' %>
<hr />
</div>


<% end %>

<% @freeby.each do |freebie| %>
	
	<div class="well-blue span8 relative"><span class="cornerSquare">
		<div class="pull-right countFreesites"><%= freebie.freesites.count %></div>

	</span>
	<div class="row-fluid">
	<div class="span8 padding-20 ">
	<h2 class="dark-blue"><%= freebie.name %></h2>
	<p><%= freebie.description %></p>
	<br />
	<div class="pull-left"><%= link_to 'View project', freeby_freesite_path(freebie), class: 'button-link' %></div>
	</div>
	<div class="span4 padding-20">

		
		<div class="text-center">
  <div class="rounded bg-light-red icon"><%= image_tag '/images/icons/Above-The-Fold-40.png', vspace: 40 %>
  </div>
  <strong>Free Websites</strong>
</div>

	</div>
	</div>

	</div>

<% end %>
<div class="span4"><h1><small>100% Free Websites.</small></h1>
<p>Stylish, modern and <strong>FREE!</strong> website specially for you!.</p>
<p>Our websites are carefully designed and developed using latest technologies. We're working hard to deliver more content for you so stay tuned!</p>
</div>
</div></div>
</div>
</div>
</div>
