<div class="home-container">
<div class="row-fluid padding-20 white rounded-box">
<div class="span12">

<%= simple_form_for([@freeby, @freesite], :html => {:multipart => true}) do |t| %>

<%= t.input :name %>
<%= t.input :description %>
<<<<<<< HEAD
<%= t.input :download_name %>
=======
>>>>>>> 27d5b4b9208a95c8fa5249434794cf8875171448
<%= t.file_field :photo %>
<%= t.submit %>

<% end %>

</div>
</div>
</div>