<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Webdesignstories" %></title>
       <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Webdesignstories" %>">
    <%= stylesheet_link_tag "application", "bootstrap", "home", "fancybox", "fancybox-buttons", "animate", :media => "all" %>
    <%= javascript_include_tag "application", "jquery", "jquery.fancybox", "fancybox-buttons" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
 <% if controller.action_name != 'index' %>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <nav>
    <ul>
    <li><%= link_to root_path do %>

    <%= image_tag '/images/logo1.png', width: '55px', class: 'logo' %>

    <% end %></li>
      <li class="drop"> <%= link_to 'About', about_path %>
       <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li><%= link_to 'Who We Are', whoweare_path %></li>
              <li><%= link_to 'Process', creation_path %></li>
              <li><%= link_to 'Testimonials', testimonial_path %></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="drop">
        <%= link_to 'Website', websites_path %>
        
        <div class="dropdownContain">
          <div class="dropOut">
            <div class="triangle"></div>
            <ul>
              <li><%= link_to 'New Website', websites_path %></li>
              <li><%= link_to 'Existing Website', existingwebsite_path %></li>
              <li><%= link_to 'Responsive Design', responsive_path %></li>

            </ul>
          </div>
        </div>
      
      </li>
      <li><%= link_to 'SEO', seo_path %></li>
       <li>
        <%= link_to 'For Sale', sales_path %>
    </li>
    <li><%= link_to 'Portfolio', portfolios_path %></li>
    <li><%= link_to 'Blog', blog_path %></li>


    <li class="pull-right helpbuttons">
    <a href="#contactModal" data-toggle="modal" class=" btn btn-success margin-top-10">Contact</a></li>
   <% if user_signed_in? %>
        <li class="pull-right"><%= link_to 'My Account', dashboard_path %></li>
    <% else %>
        <li class="pull-right "><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class="pull-right "><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>
      
    </ul>
</nav>

    </div>
<% end %>
    <div id="main" role="main">
     <% if controller.action_name == 'index' %>
              <%= render 'layouts/home-upper' %>
              <% end %>
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
             
              <%= yield %>
            </div>
          </div>
        </div>
        <% if controller.action_name == 'index' %>
         <footer>
          
          <%= render 'layouts/footer' %>

          </footer>

          <% else %>
      </div> <!--! end of .container -->
<footer>
          
          <%= render 'layouts/footer' %>

          </footer>
    </div> <!--! end of #main -->
    <% end %>



<!-- Contact Modal -->
<div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <span><h3 id="myModalLabel">We're Here To Help!</h3></span>
    
  </div>
  <div class="modal-body">
<!-- Modal Body -->
<div class="modalLeftCol">
    <form>
  <fieldset>
    <input type="text" placeholder="Your name.." style="width:260px; height:40px;"><br />
    <input type="text" placeholder="Email address.." style="width:260px; height:40px;"><br />
    <input type="text" placeholder="Phone number.." style="width:260px; height:40px;"><br />
    <textarea style="width:260px; height: 140px;" placeholder="Your message.."></textarea><br />
  </fieldset>
</form>
</div>
<div class="modalRightCol">
<img src="/images/logo1.png" style="float:left;" hspace="20px">
<h4 class="green">Send us a message or simply use one of the options below.</h4>
<br />
<h5 class="muted">E: thomas.webdesign@yahoo.com</h5>
<h5 class="muted">Tel: (+44) 7719731397</h5>
<hr />
<h5 class="green">Have you seen our <%= link_to 'websites for sale', sales_path %>?</h5>
</div>

<!-- Modal Body -->
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-success">Send Message</button>
  </div>
</div>
<!-- Contact Modal -->
    <%= javascript_include_tag "bootstrap", "main" %>
  </body>
</html>
